.fa-github, .fa-linkedin, .fa-phone-square, .fa-envelope-square, .icoPhone{
    color: black;
}

.social-media{
    margin-top: 144px;

}

.carousel-item{
    width: 480px;
    height: 360px;

}

.experience-section, ul{
    list-style: none;
}
