.fa-github, .fa-linkedin, .fa-phone-square, .icoPhone{
    color: black;
}

.social-media-items{
    list-style-type: none;
    display: inline-flex;

}

/*.navOne, .navTwo, .navThree{*/
/*    margin-right: 190px;*/
/*}*/