.fa-github, .fa-linkedin, .fa-phone-square, .fa-envelope-square, .icoPhone{
    color: black;
}

.social-media{
    margin-top: 144px;

}

.carousel-item{
    width: 100%;
    height: 75vh;
}

.carousel-item img{
    object-fit: cover;
}

.experience-section, ul{
    list-style: none;
    font-size: 1.3em;
}
